# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log

# Secrets
.env
*.pem
*.key
secrets/
